@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 98 44% 91%;
    --foreground: 102 23% 27%;
    --card: 98 44% 98%;
    --card-foreground: 102 23% 27%;
    --popover: 98 44% 98%;
    --popover-foreground: 102 23% 27%;
    --primary: 102 32% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 100 20% 80%;
    --secondary-foreground: 102 23% 27%;
    --muted: 100 20% 85%;
    --muted-foreground: 102 23% 40%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 102 20% 80%;
    --input: 102 20% 85%;
    --ring: 102 32% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 102 10% 10%;
    --foreground: 98 44% 91%;
    --card: 102 10% 15%;
    --card-foreground: 98 44% 91%;
    --popover: 102 10% 15%;
    --popover-foreground: 98 44% 91%;
    --primary: 102 32% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 102 10% 25%;
    --secondary-foreground: 98 44% 91%;
    --muted: 102 10% 20%;
    --muted-foreground: 98 44% 70%;
    --accent: 51 100% 50%;
    --accent-foreground: 51 100% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 102 10% 25%;
    --input: 102 10% 20%;
    --ring: 102 32% 53%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
